
<div class="upload_container">
   
    
   <label class="fileContainer">download
   	<input type="button" id="dlButton" onclick=" dlFiletype()" >
   </label>
    
   <select name="file_type" id ="myselect" >
        <option value="json" id="json">json</option>
        <option value="xml" id="xml">xml</option>
        <option value="csv" id="csv">csv</option>
   </select>
 
 	 
 	 
</div>
