<header id= "mainhead">
  <div class="holder flex headpad">
    <div id="logo_holder">
      <a href="https://venus.cs.qc.cuny.edu/~crjo0143/cs355/"> 
        <img src="/images/7192aba79d27adfc557422a00fcb9df6.jpg">
      </a>
    </div>

    <nav id="desk_nav">
      <ul class= "main-nav">
        <li>
          <a href ="/adminEngine" data-trigger-parent="Course"><%= adminType %><span class="fa fa-chevron-down"></span></a>
        </li>
        <li>
          <a href="#" data-trigger-parent="About"><%= userType %><span class="fa fa-chevron-down"></span></a></a>
        </li>
        
      </ul>
    </nav>

    </div>
    
</header>