<div id= "desk_search" class=  "flex main_search">
    <div  class= "container-4 main_search">
      <input type="search" id="my_search" >
      <button class="icon" id="myBtn" ><i class="fa fa-search" ></i></button>
      <script>
        var input = document.getElementById("my_search");
    console.log("clicked");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
     
           event.preventDefault();
            document.getElementById("myBtn").click();
          }
        });
      </script>
    </div>
</div>