

<%- include ('partials/top.ejs') %>
<link href="/header.css" rel="stylesheet">
</head>
<body>
<div id= "main-section" >
<%- include ('partials/navBar.ejs') %>

<%- include ('partials/resultsContainer.ejs') %>

</div>
</body>
</html>
