

<%- include ('partials/top.ejs') %>
<link href="/search_style.css" rel="stylesheet">
</head>
<body>
<div id= "main-section" >
<%- include ('partials/resultsNav.ejs') %>

<%- include ('partials/resultsContainer.ejs') %>

</div>

</body>
</html>