

<%- include ('partials/top.ejs') %>
<link href="/search_style.css" rel="stylesheet">
</head>
<body>
<div id= "main-section" >
<%- include ('partials/resultsNav.ejs') %>



</div>
<%- include ('partials/resultsContainer.ejs') %>
</body>
</html>